@using MTM.Entities.DTO
@model ResetPasswordModel

<div class="col-12 col-md-4 mx-auto mt-5">
    <div class="password-container">
        <h2 class="mb-4">Change Password</h2>
        <partial name="_Notify" />
        <form method="post" asp-action="ChangePassword" asp-controller="User">
            <div class="form-floating mt-3">
                <input type="password"
                       class="form-control"
                       id="oldPassword"
                       name="oldPassword"
                       placeholder="Old Password"
                       required
                       tabindex="1"
                        />
                <label for="Password">Old Password</label>
                <span class="eye-icon" data-toggle="#oldPassword">👁️</span>
            </div>
            <span asp-validation-for="oldPassword" class="text-danger input-err"></span>
            <div class="form-floating mt-3">
                <input type="password"
                       class="form-control"
                       id="newPassword"
                       name="password"
                       placeholder="New Password"
                       required
                       tabindex="2" 
                       />
                <label for="Password">New Password</label>
                <span class="eye-icon" data-toggle="#newPassword">👁️</span>
            </div>
            <span asp-validation-for="password" class="text-danger input-err"></span>
            <div class="form-floating mt-3">
                <input type="password"
                       class="form-control"
                       id="confirmPassword"
                       name="confirmPassword"
                       placeholder="Confirm Password"
                       required
                       tabindex="3"
                       />
                <label for="Confirm Password">Confirm Password</label>
                <span class="eye-icon" data-toggle="#confirmPassword">👁️</span>
            </div>
            <span asp-validation-for="confirmPassword" class="text-danger input-err"></span>
            <div class="text-md-center mt-3">
                <button type="button" onclick="location.href='@Url.Action("Index","Home")'" class="btn btn-outline-danger col-md-4" tabindex="5">Cancel</button>
                <button type="submit" class="btn btn-outline-success col-md-4" tabindex="4">Change</button>
            </div>
        </form>
    </div>
</div>
