@model MTM.Entities.DTO.UserViewModel
<div class="container mt-5">
    <h2>Edit User</h2>
    <partial name="_Notify" />
            <form method="post" asp-action="Edit" asp-controller="User">
                <div class="row mb-3">
                    <div class="form-floating col-md-6">
                        <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                        <label asp-for="FirstName" >First Name</label>
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-floating col-md-6">
                        <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                        <label asp-for="LastName" >Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger input-err"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-floating col-md-6">
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Email">
                        <label asp-for="Email" >Email</label>
                        <span asp-validation-for="Email" class="text-danger input-err"></span>
                    </div>
                    <div class="form-floating col-md-6">
                        <input asp-for="PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                        <label asp-for="PhoneNumber" >Phone Number</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger input-err"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-floating col-md-6">
                        <select asp-for="Role" class="form-control" id="role">
                            <option value="">Select Role</option>
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                        <label asp-for="Role" >Role</label>
                        <span asp-validation-for="Role" class="text-danger input-err"></span>
                    </div>
                    <div class="form-floating col-md-6">
                        <input asp-for="DOB" type="date" class="form-control" id="dob" placeholder="mm/dd/yyyy">
                        <label asp-for="DOB" >DOB</label>
                        <span asp-validation-for="DOB" class="text-danger input-err"></span>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Address" class="form-control" id="address" rows="3" placeholder="Address"></textarea>
                    <label asp-for="Address">Address</label>
                    <span asp-validation-for="Address" class="text-danger input-err"></span>
                </div>
                <div class="text-md-center mb-3">
                    <button type="button" onclick="location.href='@Url.Action("index","User")'" class="btn btn-outline-danger col-md-2">Cancel</button>
                    <button type="submit" class="btn btn-outline-success col-md-2">Edit</button>
                </div>
            </form>
</div>