@model MTM.Entities.DTO.UserViewModel
@{
ViewData["Title"] = "Edit";
}
<div class="container mt-5">
    <h2>Edit User</h2>
    <partial name="_Notify" />
            <form method="post" asp-action="Edit" asp-controller="User">
                <div class="row mb-3">
                    <div class="form-floating col-md-6">
                        <input asp-for="Id" hidden/>
                        <input asp-for="FirstName" tabindex="1" type="text" class="form-control mb-3" id="firstName" placeholder="First Name" required>
                        <label asp-for="FirstName" >First Name</label>
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-floating col-md-6">
                        <input asp-for="LastName" tabindex="2" type="text" class="form-control" id="lastName" placeholder="Last Name">
                        <label asp-for="LastName" >Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger input-err"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-floating col-md-6">
                        <input asp-for="Email" tabindex="3" type="email" class="form-control mb-3" id="email" placeholder="Email" required>
                        <label asp-for="Email" >Email</label>
                        <span asp-validation-for="Email" class="text-danger input-err"></span>
                    </div>
                    <div class="form-floating col-md-6">
                        <input asp-for="PhoneNumber" tabindex="4" type="number" class="form-control" id="phoneNumber" placeholder="Phone Number">
                        <label asp-for="PhoneNumber" >Phone Number</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger input-err"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-floating col-md-6">
                <select asp-for="Role" tabindex="5" class="form-control mb-3" id="role">
                            <option value="">Select Role</option>
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                        <label asp-for="Role" >Role</label>
                        <span asp-validation-for="Role" class="text-danger input-err"></span>
                    </div>
                    <div class="form-floating col-md-6">
                        <input asp-for="DOB" tabindex="6" type="date" class="form-control" id="dob" placeholder="mm/dd/yyyy">
                        <label asp-for="DOB" >DOB</label>
                        <span asp-validation-for="DOB" class="text-danger input-err"></span>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Address" tabindex="7" class="form-control" id="address" rows="3" placeholder="Address"></textarea>
                    <label asp-for="Address">Address</label>
                    <span asp-validation-for="Address" class="text-danger input-err"></span>
                </div>
                <div class="text-md-center mb-3">
                    <button type="button" tabindex="8" onclick="location.href='@Url.Action("index","User")'" class="btn btn-outline-danger col-sm-2 col-md-2">Cancel</button>
                    <button type="submit" tabindex="9" class="btn btn-outline-success col-sm-2 col-md-2">Update</button>
                </div>
            </form>
</div>