@model MTM.Entities.DTO.UserViewModel
@{
ViewData["Title"] = "Profile";
string defaultImage = "/img/user_profile.png";
}
<div class="container">
    <partial name="_Notify" />
    <div class="row">
        <form method="post" asp-action="UserProfile" asp-controller="User" class="row g-3" enctype="multipart/form-data">
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center">
                    <img id="profileImagePreview"
                         src="@(!string.IsNullOrEmpty(Model.ProfileImage) ? Model.ProfileImage : defaultImage)"
                         class="rounded-circle border mb-3 w-75"
                         alt="User Image" />
                    <input type="file" id="profileImageInput" class="d-none form-control" name="profile" accept="image/*" />
                    <label for="profileImageInput" class="btn btn-outline-info btn-sm">Choose Profile Image</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-2">
                    <div class="col">
                        <input type="hidden" tabindex="1" name="Id" asp-for="Id" />
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text"
                               class="form-control form-control-sm"
                               id="firstName"
                               name="FirstName"
                               asp-for="FirstName"
                               required/>
                        <span asp-validation-for="FirstName" class="text-danger input-err"></span>
                    </div>
                    <div class="col">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text"
                               tabindex="2"
                               class="form-control form-control-sm"
                               id="lastName"
                               name="LastName"
                               asp-for="LastName"/>
                        <span asp-validation-for="LastName" class="text-danger input-err"></span>
                    </div>
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email"
                           tabindex="3"
                           class="form-control form-control-sm"
                           id="email"
                           name="Email"
                           asp-for="Email"
                           required/>
                    <span asp-validation-for="Email" class="text-danger input-err"></span>
                </div>
                <div class="mb-2">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="number" tabindex="4" class="form-control form-control-sm" id="phoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger input-err"></span>
                </div>
                <div class="mb-2">
                    <label for="dob" class="form-label">DOB</label>
                    <input type="date" tabindex="5" class="form-control form-control-sm" name="DOB" id="dob" />
                    <span asp-validation-for="DOB" class="text-danger input-err"></span>
                </div>
                <div class="mb-4">
                    <label for="address" class="form-label">Address</label>
                    <textarea tabindex="6" class="form-control form-control-sm" id="address" name="Address" rows="2">@Model.Address</textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <a tabindex="7" href="javascript:history.go(-1)" class="btn btn-outline-danger col-md-4 mx-2 btn-sm">Cancel</a>
                    <button type="submit" tabindex="8" class="btn btn-outline-success col-md-4 mx-2 btn-sm">Update Profile</button>
                </div>
            </div>
        </form>
    </div>

</div>
<script>
    document.getElementById('profileImageInput').onchange = function (e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('profileImagePreview').src = e.target.result;
        };
        reader.readAsDataURL(this.files[0]);
    };
</script>