<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="password-container">
        <h2 class="mb-4">Forgot Password</h2>
        <form method="post" asp-action="ForgetPassword" asp-controller="Account">
            <div class="form-floating mb-3">
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Email"
                       required />
                <label for="Email">Email</label>
            </div>
            <partial name="_Notify" />
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-cancel">Cancel</button>
                <button type="submit" class="btn btn-reset">Reset</button>
            </div>
        </form>
    </div>
</div>