@model MTM.Entities.DTO.ResetPasswordModel

<div class="col-12 col-md-4 mx-auto mt-5">
    <div class="password-container">
        <h2 class="mb-4">Reset Password</h2>
        <partial name="_Notify" />
        <form method="post" asp-action="ResetPassword" asp-controller="Account">
            <input type="hidden" asp-for="email" />
            <input type="hidden" asp-for="token" />
            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control"
                       name="password"
                       id="password"
                       placeholder="Password"
                       tabindex="1"
                       required />
                <label for="Password">Password</label>
                <span class="eye-icon" data-toggle="#password">👁️</span>
            </div>
            <span asp-validation-for="password"></span>
            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control"
                       name="confirmPassword"
                       id="confirmPassword"
                       placeholder="Confirm Password"
                       tabindex="2"
                       required />
                <label for="Confirm Password">Confirm Password</label>
                <span class="eye-icon" data-toggle="#confirmPassword">👁️</span>
            </div>
            <span asp-validation-for="confirmPassword"></span>
            <div class="text-md-center">
                <button type="button" tabindex="3" onclick="location.href='@Url.Action("ForgetPassword","Account")'" class="btn btn-outline-danger col-md-4">Cancel</button>
                <button type="submit" tabindex="4" class="btn btn-outline-success col-md-4">Reset</button>
            </div>
        </form>
    </div>
</div>
<script>
    setTimeout(function () {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 60000);
</script>