@using System.Security.Claims
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> .Net Core - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/Datatable/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MTM.Web.styles.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity != null && User.Identity.Name != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">OJTDotNetCoreFrame</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar collapse d-sm-inline-flex justify-content-between me-4">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Posts</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @User.Identity.Name
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-action="Profile" asp-controller="Account" class="dropdown-item text-dark">Profile</a></li>
                                        <li><a asp-action="ChangePassword" asp-controller="Account" class="dropdown-item text-dark">Change Password</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account" class="dropdown-item text-dark">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (User.Identity != null && User.Identity.Name != null)
    {
        <footer class="d-flex border-top footer text-muted">
            <div class="container">
                Metateam Myanmar
            </div>
            <div class="container text-end">
                Copyright &copy; Meteteam Myanmar Co,ltd. All Right Reversed.
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/Datatable/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
