* {
    box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.password-container {
    width: 500px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container {
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-err{
    font-size : 0.8vw;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.form-floating {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.row > .form-floating > label {
    margin-left: 0.75em;
}
/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*image*/
#profileImagePreview {
    max-width: 300px;
    max-height: 300px;
}
.auto-resize-input {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow: hidden;
}

table.dataTable td.dt-type-numeric{
    text-align: center;
}

