* {
    box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.password-container {
    width: 500px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    padding: 1rem 0.75rem;
}

.auth-container {
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-err{
    font-size : 0.8vw;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}